{
  "root": true,
  "extends": [
    "@vue-storefront/eslint-config-nuxt"
  ],
  "parserOptions": {
    "project": [
      "tsconfig.json",
      ".nuxt/tsconfig.json"
    ]
  },
  "rules": {
    "import/default": "off",
    "import/no-named-as-default": "off",
    "import/extensions": "off"
  }
}
