!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.local
*.log
.DS_Store
.env
.idea/
.netlify
.nuxt
.output
.pnp.*
.vite-ssg-dist
.vite-ssg-temp
.yarn/*
.vercel
.unlighthouse
dist
dist-ssr
node_modules
