
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-badge {
    @apply
    py-1
    px-2
    text-[.6rem]
    leading-[.6rem]
    uppercase
    rounded-xl
    text-white;

    &-color, &-license, &-status {
      @apply
      border
      border-transparent
      bg-transparent;

      &--success,
      &--primary, &--open-source {
        @apply
        text-primary
        bg-primary-100;
      }

      &--secondary, &--enterprise {
        @apply
        text-secondary
        bg-secondary-100;
      }

      &--danger, &--alpha {
        @apply
        text-rose
        bg-rose-100;
      }

      &--warning, &--beta {
        @apply
        text-yellow
        bg-yellow-100;
      }

      &--info {
        @apply
        text-blue
        bg-blue-100;
      }

      &--info {
        @apply
        text-blue
        bg-blue-100;
      }

      &--white {
        @apply
        text-gray-500
        border
        border-gray-100
        bg-white;
      }

      &--orange {
        @apply
        text-orange-500
        bg-orange-100;
      }

      &--gray, &--wip {
        @apply
        text-gray-500
        bg-gray-100;
      }

      &--prod, &--none {
        @apply hidden;
      }

      &--pro {
        @apply
        text-white
        bg-primary-600;
      }

      &--beginner {
        @apply
        text-white
        bg-secondary-600;
      }
    }


    &-position {
      &--top-left {
        @apply
        top-0
        left-0;
      }

      &--top-right {
        @apply
        top-0
        right-0;
      }

      &--top {
        @apply
        top-0;
      }

      &--bottom {
        @apply
        bottom-0;
      }

      &--bottom-left {
        @apply
        bottom-0
        left-0;
      }

      &--bottom-right {
        @apply
        bottom-0
        right-0;
      }
    }

    &-shaped {
      @apply
      absolute;

      &--top-left {
        @apply
        top-0
        left-0
        rounded-tl-3xl
        rounded-tr-none
        rounded-br-3xl
        rounded-bl-none;
      }

      &--top-right {
        @apply
        top-0
        right-0
        rounded-tl-none
        rounded-tr-3xl
        rounded-br-none
        rounded-bl-3xl;
      }

      &--bottom-left {
        @apply
        bottom-0
        left-0
        rounded-tr-3xl
        rounded-tl-none
        rounded-bl-3xl
        rounded-br-none;
      }

      &--bottom-right {
        @apply
        bottom-0
        right-0
        rounded-tl-3xl
        rounded-tr-none
        rounded-br-3xl
        rounded-bl-none;
      }
    }
  }

  .tag-badge {
    @apply inline-flex items-center text-sm;
    &-color {
      &--success,
      &--primary {
        @apply
        bg-primary-50
        text-primary
        hover:bg-primary-100
        hover:text-primary-600;
      }

      &--secondary {
        @apply
        bg-secondary-50
        text-secondary
        hover:bg-secondary-100
        hover:text-secondary-600;
      }

      &--danger {
        @apply
        bg-rose-50
        text-rose
        hover:bg-rose-100
        hover:text-rose-600;
      }

      &--warning {
        @apply
        bg-yellow-50
        text-yellow
        hover:bg-yellow-100
        hover:text-yellow-600;
      }

      &--info {
        @apply
        bg-blue-50
        text-blue
        hover:bg-blue-100
        hover:text-blue-600;
      }

      &--transparent {
        @apply
        bg-transparent
        text-primary
        hover:text-primary-600;
      }

      &--white {
        @apply
        bg-white
        text-primary
        hover:text-primary-600;
      }

      &--black {
        @apply
        bg-black
        text-white;
      }

      &--gray, &--default {
        @apply
        bg-gray-50
        text-gray
        hover:bg-gray-100
        hover:text-gray-600;
      }
    }

    &-icon {
     &--only {
       @apply
       items-center
       rounded-full
       p-1.5
       font-bold;
     }

      &--none {
        @apply
        rounded-xl
        px-2.5
        py-0.5
        font-medium;
      }

      &-color {
        &--success,
        &--primary {
          @apply
          text-primary
          hover:text-primary-600;
        }

        &--secondary {
          @apply
          text-secondary
          hover:text-secondary-600;
        }

        &--danger {
          @apply
          text-rose
          hover:text-rose-600;
        }

        &--warning {
          @apply
          text-yellow
          hover:text-yellow-600;
        }

        &--info {
          @apply
          text-blue
          hover:text-blue-600;
        }

        &--transparent {
          @apply
          text-primary
          hover:text-primary-600;
        }

        &--white {
          @apply
          text-primary
          hover:text-primary-600;
        }

        &--black {
          @apply text-white;
        }

        &--gray {
          @apply
          text-gray
          hover:text-gray-600;
        }
      }
    }
  }
}

