@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-navigation {
    @apply
    flex
    items-center
    justify-center
    w-full container
    px-4
    lg:px-0
    lg:mx-auto;

    &.scroll {
      &-down {
      }

      &-up {
        z-index: 40;

        @apply
        sticky
        top-0
        max-w-full
        px-0;
      }
    }
  }

  .header {
    &-menu-bar {
      @apply
      w-full
      px-6
      lg:px-12
      bg-white
      border-gray-200
      dark:bg-gray-800
      shadow-base
      transition-all
      will-change-auto;

      &.scrolling-menu {
        @apply
        bg-white
        border-gray-200
        dark:bg-gray-800
        shadow-base rounded-none;
      }

      &.floating-menu {
        @apply
        rounded-2xl
        mt-4
        lg:mt-8
        bg-white
        border-gray-200
        dark:bg-gray-800
        shadow-base;
      }
    }

    &-mobile-navigation {
      &--popover {
        @apply absolute inset-x-0 top-0 origin-top-right transform p-2 transition md:hidden z-20;
      }

      &--close {
        @apply inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-primary
      }
    }

    &-container {
      @apply
      flex
      justify-between
      items-stretch;
    }

    &-content {
      &-left {
        @apply my-3.5;
      }

      &-center {
        @apply
        hidden
        justify-between
        items-stretch
        lg:flex
        lg:w-fit;

        &--list {
          @apply
          flex
          flex-row
          mt-4
          md:flex-row
          md:mt-0
          md:text-sm
          md:font-medium;
        }

        &--item {
          @apply inline-flex
          justify-center
          text-base
          font-medium
          group-hover:text-primary-600
          group-hover:focus:text-primary-500;
        }
      }

      &-right {
        @apply
        flex md:order-2
        items-center
        justify-center
        space-x-2
        md:space-x-8;
      }
    }
  }
}

